.card-generic-container {
  align-items: center;
  border: solid 1px var(--font-color1);
  border-radius: 5px;
  display: flex;
  height: 166px;
  justify-content: center;
  width: 48%;
}

.link-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.img {
  border-radius: 5px 5px 0 0;
  height: 134px;
  max-width: unset;
  width: 100%;
}

.link-card p {
  font-size: 0.8rem;
  height: 100%;
  margin: unset;
  padding-left: 0.8rem;
  text-decoration: none;
}
