.footer-container {
  align-items: center;
  background-color: var(--accent-color1);
  bottom: 0;
  display: flex;
  height: 52px;
  justify-content: space-between;
  left: 0;
  padding: 20px 70px;
  position: fixed;
  width: 100%;
}
