.login-page-container {
  align-items: center;
  background: linear-gradient(0deg, var(--base-color1) 47.5%, var(--accent-color1) 47.5%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100vw;
}

.login-page-logo {
  height: 137.25px;
  max-width: none;
  width: 178px;
}

.login-page-tomato-background {
  max-width: none;
  width: 100%;
}

.login-page-container form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.login-page-container form h3 {
  color: var(--accent-color1);
  font-style: italic;
  margin: unset;
}

.login-page-container form input {
  background-color: var(--base-color1);
  border: solid 1px var(--accent-color1);
  border-radius: 5px;
  font-size: 0.8rem;
  height: 40px;
  padding-left: 1rem;
  width: 276px;
}

.login-page-container form input::placeholder {
  color: var(--accent-color1);
  font-size: 0.8rem;
}

.login-page-container form button {
  background-color: var(--accent-color2);
  border: unset;
  border-radius: 5px;
  color: var(--btn-color);
  font-weight: 700;
  height: 40px;
  width: 276px;
}
