.recipe-in-progress-page-container {
  align-items: center;
  background-color: var(--base-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  max-width: 100%;
  width: 100vw;
}

.recipe-in-progress-header-container > img {
  display: none;
}

.recipe-in-progress-header-container {
  background-position: center;
  background-size: cover;
  height: 162px;
  width: 100%;
}

.recipe-in-progress-header-btns-container {
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: var(--base-color1);
  display: flex;
  flex-direction: column-reverse;
  height: 162px;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.recipe-in-progress-header-btns-container nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.recipe-in-progress-instructions-container span {
  border: solid 1px var(--font-color1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
  width: 100%;
}

.recipe-in-progress-header-btns-container nav span {
  color: var(--accent-color2);
  font-size: 0.7rem;
  font-weight: 700;
}

.recipe-in-progress-header-btns-container h2 {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 900;
  height: 100%;
  justify-content: center;
}

.recipe-in-progress-header-btns-container button {
  background-color: transparent;
  border: none;
}

.recipe-in-progress-ingredients-container {
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.4rem 0.7rem;
  top: 162px;
  width: 100%;
}

.recipe-in-progress-ingredients-container h3 {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 0.6rem;
}

.recipe-in-progress-instructions-container {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0.7rem;
  width: 100%;
}

.recipe-in-progress-instructions-container h3 {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 0.6rem;
}


.finish-recipe-btn {
  background-color: var(--accent-color2);
  border: none;
  border-radius: 7px;
  color: var(--base-color1);
  font-weight: 700;
  height: 40px;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
  width: 93%;
}
