:root {

  --accent-color1: #41197f;

  --accent-color2: #fcdc36;

  --accent-color3: #e44343;

  --accent-color4: #8958a3;

  --base-color1: white;

  --font-color1: #797d86;

  --fontcolor2: #1a1b1c;
}
